html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

path {
  cursor: pointer;
  pointer-events: auto;
}

.scroll-container {
  height: 100vh;
  position: relative;
}

.html,
body {
  overflow: hidden;
}

.drag-container {
  width: 5000pt;
  height: 5000pt;
  text-align: center;
  position: relative;
}

.drag-container * {
  /* margin: 0; */
  position: absolute;
  top: 50%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}
